:root {
  --font-outfit: 'Outfit', sans-serif;
  --font-space: 'Space Grotesk', sans-serif;
}

body {
  @apply antialiased;
}

.grotesk {
  font-family: var(--font-space);
}

.outfit {
  font-family: var(--font-outfit);
}

@import "tailwindcss";
